<link rel="stylesheet" href="/style.css">
<div class="container">
    <h2 class="text-center">Categories</h2>
    <% console.log('categories --->', categories) %>
        <ul class="list-group list-group-light justify-content-center max-width: 200%">
            <% for (let i=0; i < categories.length; i++) { %>
                <% let category=categories[i] %>
                    <li class="list-group-item d-flex justify-content-center align-items-center">
                        <a href="/categories/<%= category.id %>">
                            <%= category.category_name %>
                        </a>
                        <span class="badge badge-primary rounded-pill">
                            <%= category.count %>
                        </span>
                    </li>
                    <% } %>
        </ul>
</div>