<section class="section">
    <div class="container py-5 h-100">
        <div class=" columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="card bg-white text-black" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">

                        <!-- favorites.ejs -->
                        <div class="column is-8-desktop is-12-tablet content is-center">
                            <div class="px-4">
                                <h2 class="mb-4 has-text-weight-medium">Favorites</h2>


                                <% favorites.forEach(pose=> { %>
                                    <li class="is-flex is-justify-content-center">
                                        <div class="card">
                                            <div class="card-content">
                                                <h4>Pose Name: <%= pose.name %>
                                                        </p>
                                                        <img src="<%= pose.img %>" alt="<%= pose.english_name %>">
                                                        <form action="/delete/<%=pose.id%>" method="post">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <button class="btn btn-primary favorite-btn"
                                                                type="submit">Remove
                                                                from
                                                                Favorites</button>
                                                        </form>
                                    </li>
                                    <% }) %>

                            </div>
                        </div>
                    </div>
</section>