<section class="section">
    <div class="container py-5 h-100">
        <div class=" columns is-desktop is-justify-content-center">
            <div class="column is-8-desktop">
                <div class="card bg-white text-black" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">

                        <!-- favorites.ejs -->
                        <h1>Favorites</h1>

                        <ul>
                            <% favorites.forEach(pose=> { %>
                                <li>

                                    <p>Sanskrit Name: <%= pose.name %>
                                    </p>
                                    <img src="<%= pose.img %>" alt="<%= pose.english_name %>">
                                    <form action="/delete/<%=pose.id%>">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit">Delete</button>
                                    </form>
                                </li>
                                <% }) %>
                        </ul>






                        <div class="columns is-multiline">
                            <br>

                            <br>
                            <div class="column is-12">
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>