<head>
    <title>Down Dog Yoga</title>
</head>
<br>
<h2 class="text-center">Welcome to Down Dog Yoga</h2>
<br>
<p class="text-center">Yoga is a light, which once lit, will never dim. -BKS Iyengar</p>
<div class="text-center">
    <br>
    <a href="/categories"><button class="btn btn-primary favorite-btn">Categories</button></a>
    <a href="/poses"><button class="btn btn-primary favorite-btn">Poses</button></a>
</div>
</div>